<header class="home-header">
    <a routerLink="/" class="home-header-home-link">
        <img src="/petgov-logo.svg"/>
    </a>
    <div>
        <a routerLink="/login" class="home-header-login">Log in</a>
        <a routerLink="/register" class="home-header-login">Register</a>
    </div>
</header>

<div class="home-hero">
    <div class="home-container">
        <div>
            <h1 class="home-title">
                PetGov helps identify who is your Pet.
            </h1>
            <p class="home-description">
                PetGov gives the oportunity to save info about your pet in a simple manner, 
                that way veterinarians know exactly who they are dealing with. 
            </p>
        </div>
        <div>
            <img src="/hero.svg"/>
        </div>
    </div>
</div>

<div class="home-team">
    <div class="home-container team-container">
        <div>
            <h1 class="home-title">
                Pet assistant
            </h1>
            <p class="home-description">
                Via tasks and columns, veterinarians and pet owners
                can see what the pet needs 
            </p>
        </div>
        <div>
            <img src="/pet-treatment.png" class="treatment-image" />
        </div>
    </div>
</div>

<div class="home-information">
    <div class="home-container information-container">
        <div>
            <img src="/pet-appointment.png" class="appointment-image" />
        </div>
        <div>
            <h1 class="home-title">
                Schedule Appointments 
            </h1>
            <p class="home-description">
                It gives you the opportunity to update your veterinary about what's going on with your pet in seconds.
            </p>
        </div>  
    </div>
</div>

<div class="home-workflow">
    <div class="home-container workflow-container">
      <div class="workflow-left-part">
        <h1 class="home-title">Recieve notifications</h1>
        <p class="home-description">
          You will receive notifications if a new task or column is updated or added
        </p>
      </div>
      <div>
        <img src="pet-notification.png" class="workflow-image" />
      </div>
    </div>
  </div>