<header class="home-header">
    <a routerLink="/" class="home-header-home-link">
        <img src="/petgov-logo.svg"/>
    </a>
    <div>
        <a routerLink="/login" class="home-header-login">Log in</a>
        <a routerLink="/register" class="home-header-login">Register</a>
    </div>
</header>

<div class="home-hero">
    <div class="home-container">
        <div>
            <h1 class="home-title">
                PetGov helps identify who is your Pet.
            </h1>
            <p class="home-description">
                PetGov gives the oportunity to save info about your pet in a simple manner, 
                that way veterinarians know exactly who they are dealing with. 
            </p>
        </div>
        <div>
            <img src="/hero.svg"/>
        </div>
    </div>
</div>

<div class="home-team">
    <div class="home-container team-container">
        <div>
            <h1 class="home-title">
                PetGov helps identify who is your Pet.
            </h1>
            <p class="home-description">
                PetGov gives the oportunity to save info about your pet in a simple manner, 
                that way veterinarians know exactly who they are dealing with. 
            </p>
        </div>
        <div>
            <img src="/pet-treatment.png" class="treatment-image" />
        </div>
    </div>
</div>

<div class="home-information">
    <div class="home-container information-container">
        <div>
            <img src="/pet-appointment.png" class="appointment-image" />
        </div>
        <div>
            <h1 class="home-title">
                PetGov helps identify who is your Pet.
            </h1>
            <p class="home-description">
                PetGov gives the oportunity to save info about your pet in a simple manner, 
                that way veterinarians know exactly who they are dealing with. 
            </p>
        </div>  
    </div>
</div>

<div class="home-workflow">
    <div class="home-container workflow-container">
      <div class="workflow-left-part">
        <h1 class="home-title">Built-In Workflow Automation With Butler</h1>
        <p class="home-description">
          Let the robots do the work! Boost spanroductivity by unleashing the
          power of automation across your entire team with Butler, and remove
          tedious tasks from your to-do lists with:
        </p>
        <ul>
          <li>Rule-Based Triggers</li>
          <li>Custom Card & Board Buttons</li>
          <li>Calendar Commands</li>
          <li>Due Date Commands</li>
        </ul>
      </div>
  
      <div>
        <img src="pet-notification.png" class="workflow-image" />
      </div>
    </div>
  </div>